{% macro render_tag_nav(active=none) %}
  <ul>
  {% for tag in site.query('/project-tags') %}
    {% if tag.children.count() %}
      <li><a href="{{ tag|url }}">{{ tag.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}

{% macro render_project_list(projects) %}
  <div class="page-projects">
    {% for project in projects %}
    <div class="page-projects-project">
      <a href="{{ project|url }}">
        <h2 class="page-projects-project-title">{{ project.title }} ({{ project.date.year }})</h2>
      </a>
      {% set image = project.attachments.images.first() %}
      {% if image %}
        <a href="{{ project|url }}">
          <img class="page-projects-project-thumbnail" src="{{ image.thumbnail(320)|url }}" alt="">
        </a>
      {% endif %}
      <span class="page-projects-project-description">
        {{ project.description }}
      </span>
      {{ render_tag_chips(project) }}
    </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro render_tag_chips(project) %}
  <div class="tagChipContainer">
    {%- for c in project.tags -%}
    {%- set tag = site.get('/project-tags').children.get(c) -%}
    <a href="{{ tag|url }}">
      <span class="tagChipContainer-tagChip">{{ tag.title }}</span>
    </a>
    {%- endfor -%}
  </div>
{% endmacro %}
