@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  src:
    local("Fira Sans"),
    local("FiraSans-Regular"),
    url("/FiraSans-Book.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-weight: bold;
  src:
    local("Fira Sans Medium"),
    local("FiraSans-Medium"),
    url("/FiraSans-Medium.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans Light";
  src:
    local("Fira Sans Light"),
    local("FiraSans-Light"),
    url("/FiraSans-Light.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Fira Code";
  src:
    local("Fira Code"),
    local("FiraCode-Regular"),
    url("/FiraCode-Regular.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-weight: bold;
  src:
    local("Fira Code Bold"),
    local("FiraCode-Bold"),
    url("/FiraCode-Bold.otf") format("opentype");
}

:root {
  --mainNav-bg-colour: #1A1A1A;
  --gap-sm: 1rem;
  --gap-md: 1.5rem;
  --html-body-font-size: 70%;
  --page-font-size: x;
}

/* Smallest devices */
@media only screen {
  :root {
    --html-body-font-size: 70%;
    --page-font-size: 1.5rem;
  }

  html, body {
    /*background-color: red !important;*/
  }

  .mainNav {
    flex-direction: column;
  }

  .mainNav-nav-list {
    display: none;
    flex-direction: column;
    padding: 0;
    padding-top: var(--gap-sm);
    width: 100%;
  }

  .mainNav-nav-list-item {
    margin-right: 0;
    width: 100%;
  }

  .mainNav-nav-list-item--active a {
    font-weight: bold;
  }

  .mainNav-nav-list-item a {
    padding: var(--gap-sm);
  }

  .mainNav-titleContainer-menuButton {
    display: flex;
  }

  .mainNav-titleContainer-title {
    margin-right: 0;
  }

  .page-projectDetails h2 {
    padding-left: var(--gap-sm);
    padding-right: var(--gap-sm);
  }

  .page-tocContainer {
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  :root {
    --html-body-font-size: 80%;
  }

  html, body {
    /*background-color: orange !important;*/
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    --html-body-font-size: 85%;
    --page-font-size: 1.4rem;
  }

  html, body {
    /*background-color: yellow !important;*/
  }

  .mainNav {
    flex-direction: row;
  }

  .mainNav-nav-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: initial;
  }

  .mainNav-nav-list-item {
    width: initial;
  }

  .mainNav-nav-list-item:not(:last-child) {
    margin-right: 2.5rem;
  }

  .mainNav-nav-list-item a {
    padding: initial;
  }

  .mainNav-titleContainer-menuButton {
    display: none;
  }

  .mainNav-titleContainer-title {
    margin-right: 3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --html-body-font-size: 90%;
  }

  html, body {
    /*background-color: green !important;*/
  }

  .page-projectDetails > *:not(p):not(h2) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html, body {
    /*background-color: blue !important;*/
  }
}

@media only screen and (min-width: 1800px) {
  .page-tocContainer {
    display: block;
  }
}

html, body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Fira Code', monospace;
  font-size: var(--html-body-font-size);
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

/* Message boxes */
div.messageBox {
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  display: flex;
  margin-bottom: var(--gap-md);
  padding: 0.75rem;
}

code {
  background-color: var(--mainNav-bg-colour);
  font-size: 95%;
}

h1 {
  font-size: 3rem;
  line-height: 110%;
  margin: var(--gap-sm);
  text-align: center;
}

h1 + :not(.page-projectDescription) {
  margin-top: 2.5rem;
}

h2 {
  font-size: 2.3rem;
  line-height: 100%;
  margin-top: 1.75rem;
  margin-bottom: var(--gap-sm);
}

p {
  margin-bottom: var(--gap-sm);
}

.breadcrumbs {
  background-color: var(--mainNav-bg-colour);
  display: block;
  font-size: 1.25rem;
  padding-bottom: var(--gap-sm);
  padding-left: var(--gap-sm);
  padding-right: var(--gap-sm);
  max-width: calc(100% - 2rem);
  width: 100%;
}

.breadcrumbs:empty {
  display: none;
}

.breadcrumbs a {
  color: #7FD7FF;
  display: inline-block;
}

.breadcrumbs a:visited {
  color: #BC81BC;
}

.contactTable {
  align-items: center;
  display: flex;
  font-size: 2.25rem;
  line-height: 250%;
  flex-direction: column;
}

.contactTable-row {
  display: inline-flex;
  justify-items: center;
}

.contactTable-row-icon {
  align-items: center;
  display: inline-flex;
  margin-right: 0.75rem;
}

.contactTable-row-icon * {
  height: 2.75rem;
}

.contactTable-row-text {
  display: inline-flex;
}

.flip {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.hll {
  box-sizing: border-box;
  font-size: 1.1rem;
  line-height: 110%;
  margin-top: var(--gap-md);
  margin-bottom: var(--gap-md);
  max-height: 75vh;
  overflow-x: auto;
  overflow-wrap: normal;
  padding-left: var(--gap-sm);
  padding-right: var(--gap-sm);
  resize: vertical;
}

.icon {
  filter: invert(99%) sepia(100%) saturate(33%) hue-rotate(112deg) brightness(106%) contrast(100%);
}

.icon--messageBox {
  align-self: center;
  height: 3rem;
  margin-right: 0.75rem;
}

.mainNav {
  background-color: var(--mainNav-bg-colour);
  display: flex;
  overflow: hidden;
  padding: var(--gap-sm);
}

.mainNav-nav-list {
  align-items: center;
  float: left;
  height: 100%;
  margin: 0;
}

.mainNav-nav-list-item {
  font-size: 1.75rem;
  list-style-type: none;
}

.mainNav-nav-list-item a {
  color: #FFFFFF;
  display: block;
}

.mainNav-nav-list-item a::before {
  content: "--";
  text-decoration-line: none !important;
}

.mainNav-titleContainer {
  justify-content: space-between;
  display: flex;
}

.mainNav-titleContainer-menuButton {
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 10%;
  cursor: pointer;
  float: right;
  font-weight: bold;
  font-size: 1rem;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.mainNav-titleContainer-title {
  float: left;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 0.1rem;
  width: 90%;
}

.mainNav-titleContainer-title a {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}

.page {
  box-sizing: border-box;
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-size: var(--page-font-size);
  line-height: 125%;
  margin: 0 auto;
  max-width: 100%;
  padding-top: var(--gap-sm);
  padding-bottom: var(--gap-sm);
  width: 85rem;
  word-wrap: break-word;
}

.page a {
  color: #7FD7FF;
}

.page a:visited {
  color: #BC81BC;
}

.page--centred p {
  text-align: center;
}

.page > p {
  margin-left: var(--gap-sm);
  margin-right: var(--gap-sm);
}

.page p+ul {
  margin-top: 0;
}

.page-backToTop {
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 10%;
  bottom: var(--gap-sm);
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  position: fixed;
  right: var(--gap-sm);
  width: 3rem;
}

.page-posts-post {
  margin-left: var(--gap-sm);
  margin-right: var(--gap-sm);
}

.page-post-stat {
  display: flex;
  flex-wrap: wrap;
  font-family: "Fira Sans Light";
  font-size: 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
}

.page-post-statsContainer {
  display: block;
  margin-left: var(--gap-sm);
  margin-right: var(--gap-sm);
}

.page-postFooter {
  display: block;
  font-style: italic;
  margin-left: var(--gap-sm);
  margin-right: var(--gap-sm);
  padding-bottom: 5rem;
}

.page-projectDescription {
  font-family: "Fira Sans Light";
  text-align: center;
}

.page-projectDetails > *:not(.hll):not(p:has(img)) {
  margin-left: var(--gap-sm);
  margin-right: var(--gap-sm);
}

.page-projectDetails p img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.page-projects {
  margin-left: var(--gap-sm);
  margin-right: var(--gap-sm);
}

.page-projectStats {
  display: flex;
  flex-wrap: wrap;
  font-family: "Fira Sans Light";
  font-size: 1.2rem;
  justify-content: center;
  margin-top: 0.8rem;
  margin-bottom: 0;
  width: 100%;
}

.page-projectStats,
.page-projectStats-stat,
.page-projectStats-stat dt,
.page-projectStats-stat dd {
  align-items: center;
  display: inline-flex;
}

.page-projectStats dt {
  margin-left: 0.2rem;
}

.page-projectStats dt::after {
  content: ":";
}

.page-projectStats dd {
  margin-left: 0.25rem;
  margin-right: 1.5rem;
}

.page-projectSubheading + .page-projectDescription p,
.page-projectSubheading + .page-projectDetails p {
  margin-top: 0;
}

.page-projectSubheading {
  margin-left: var(--gap-sm);
  margin-right: var(--gap-sm);
}

.page-projectTags {
  display: flex;
  justify-content: center;
}

.page-projects-project {
  padding-bottom: 2rem;
}

.page-tocContainer {
  box-sizing: border-box;
  left: 0;
  position: fixed;
  top: 50%;
  padding: 0.5rem;
  transform: translateY(-50%);
  width: 20rem;
}

.tagChipContainer {
  display: flex;
  flex-wrap: wrap;
}

.tagChipContainer-tagChip {
  background-color: #333333;
  border-radius: 1rem;
  font-size: 1.25rem;
  line-height: 225%;
  margin-right: 0.5rem;
  padding-top: 0.33rem;
  padding-bottom: 0.33rem;
  padding-left: var(--gap-sm);
  padding-right: var(--gap-sm);
}

#lektor-edit-link {
  display: none !important;
}
