{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="page page--centred">
    {{ this.body }}
    <div class="contactTable">
      <span class="contactTable-row">
        <span class="contactTable-row-icon">
          <img class="icon" src="{{ 'img/email.svg'|asseturl }}" alt="E-mail" title="E-mail">
        </span>
        <span class="contactTable-row-text">
          <span class="flip">em.mp@4080mj</span>
        </span>
      </span>
      <span class="contactTable-row">
        <span class="contactTable-row-icon">
          <img class="icon" src="{{ 'img/github.svg'|asseturl }}" alt="GitHub" title="GitHub">
        </span>
        <span class="contactTable-row-text">
          <a href="https://github.com/jm0804">JM0804</a>
        </span>
      </span>
      <span class="contactTable-row">
        <span class="contactTable-row-icon">
          <img class="icon" src="{{ 'img/gitlab.svg'|asseturl }}" alt="GitLab" title="GitLab">
        </span>
        <span class="contactTable-row-text">
          <a href="https://gitlab.com/jm0804">JM0804</a>
        </span>
      </span>
      <span class="contactTable-row">
        <span class="contactTable-row-icon">
          <img class="icon" src="{{ 'img/linkedin.svg'|asseturl }}" alt="LinkedIn" title="LinkedIn">
        </span>
        <span class="contactTable-row-text">
          <a href="https://www.linkedin.com/in/jonathan-mason-5463571b5/">LinkedIn</a>
        </span>
      </span>
      <span class="contactTable-row">
        <span class="contactTable-row-icon">
          <img class="icon" src="{{ 'img/linux.svg'|asseturl }}" alt="LFX" title="LFX">
        </span>
        <span class="contactTable-row-text">
          <a href="https://openprofile.dev/profile/jm0804">LFX</a>
        </span>
      </span>
    </div>
  </div>
{% endblock %}
