<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Welcome{% endblock %} — jmason.me</title>
  <link rel="stylesheet" href="{{ 'style.css'|asseturl }}">
</head>
<body>
  <a id="top"></a>
  <header class="mainNav">
    <span class="mainNav-titleContainer">
      <span class="mainNav-titleContainer-title"><a href="{{ '/'|url }}">&gt;jmason.me</a></span>
      <span class="mainNav-titleContainer-menuButton" id="mainMenuButton">
        <img class="icon" src="{{ 'img/menu.svg'|asseturl }}">
      </span>
    </span>
    <nav class="mainNav-nav">
      <ul class="mainNav-nav-list">
        {% for href, title in [
          ['/projects', 'projects'],
          ['/posts', 'posts'],
          ['/contact', 'contact'],
          ['/about', 'about']
        ] %}
          <li class="mainNav-nav-list-item {% if this.is_child_of(href) %} mainNav-nav-list-item--active {% endif %}">
            <a href="{{ href|url }}">{{ title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <nav class="breadcrumbs">
    {%- for i in this._path | root_relative_path_list -%}
      {%- if loop.length > 2 -%}
        {%- if not loop.last -%}
          <a href="{{ site.get(i[0])|url }}">{{- site.get(i[0]).title -}}</a>&nbsp;/&nbsp;
        {%- else -%}
          {{- site.get(i[0]).title -}}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </nav>
  {% block body %}{% endblock %}
  <link rel="stylesheet" href="{{ 'pygments.css'|asseturl }}">
  <script type="text/javascript" src="{{ 'script.js'|asseturl }}"></script>
</body>
</html>
