{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="page">
  <h1>{{ this.title }}</h1>
  <div class="page-post-statsContainer">
    <span class="page-post-stat">
      <img class="icon" src="{{ 'img/calendar.svg'|asseturl }}">
      Published: {{ this.auto_publish_date|dateformat }}
    </span>
    {% if this.auto_updated_date %}
      <span class="page-post-stat">
        <img class="icon" src="{{ 'img/calendar.svg'|asseturl }}">
        Last updated: {{ this.auto_updated_date|dateformat }}
      </span>
    {% endif %}
  </div>
  {% if this.body.toc %}
    <div class="page-tocContainer">
      <h4>Table Of Contents</h4>
      <nav>
        <ul class="page-tocContainer-toc">
          {% for item in this.body.toc recursive %}
            <li>
              <a href="#{{ item.anchor }}">{{ item.title }}</a>
              {% if item.children %}
                <ul>{{ loop(item.children) }}</ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  {% endif %}
  <div class="page-projectDetails">{{ this.body }}</div>
  <span class="page-postFooter">I hope you enjoyed reading this article and found it informative. If you have any comments or suggestions, feel free to <a href="/contact">get in touch!</a> :)</span>
  <a class="page-backToTop" href="#top" title="Back to Top"><img class="icon" src="{{ 'img/arrow-up.svg'|asseturl }}" alt="Back to Top"></a>
</div>
{% endblock %}
