{% extends "layout.html" %}
{% block title %}Posts{% endblock %}
{% block body %}
  <div class="page">
    <h1>Posts</h1>
    <div class="page-posts">
    {% for post in this.children %}
      <div class="page-posts-post">
        <!-- {% set image = post.attachments.images.first() %}
        {% if image %}
          <img src="{{ image.thumbnail(320)|url }}" alt="">
        {% endif %} -->
        <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
        <span class="page-post-stat">
          <img class="icon" src="{{ 'img/calendar.svg'|asseturl }}" alt="Published on:" title="Published date">
          {{ post.auto_publish_date|dateformat }}
        </span>
        <p><strong>{{ post.tags }}</strong></p>
      </div>
    {% endfor %}
    {% if this.children.count() == 0 %}
      <p>Nothing to see here (yet)!</p>
    {% endif %}
    </div>
  </div>
{% endblock %}
