{% extends "layout.html" %}
{% from "macros/projects.html" import render_tag_nav,
   render_project_list %}
{% block title %}{{ this.title }} Projects{% endblock %}
{% block body %}
  <div class="page">
    <h1>{{ this.title }} Projects</h1>
    <!--{{ render_tag_nav(active=this._id) }}-->
    {{ render_project_list(this.children) }}
  </div>
{% endblock %}
