{% extends "layout.html" %}
{% from "macros/projects.html" import render_tag_chips, render_project_list %}
{% block title %}Projects{% endblock %}
{% block body %}
  <div class="page">
    <h1>Projects</h1>
    <!--<div class="projects">
    {% for project in this.children %}
      <div class="project">
        {% set image = project.attachments.images.first() %}
        {% if image %}
          <img src="{{ image.thumbnail(320)|url }}" alt="">
        {% endif %}
        <h2><a href="{{ project|url }}">{{ project.title }}</a>
          <em>({{ project.date.year }})</em></h2>
        <p><strong>{{ project.tags }}</strong></p>
      </div>
    {% endfor %}
    </div>-->
    {{ render_project_list(this.children) }}
  </div>
{% endblock %}
