{% extends "layout.html" %}
{% from "macros/projects.html" import render_tag_chips %}
{% block title %}{{ this.title }} ({{ this.date.year }}){% endblock %}
{% block body %}
<div class="page">
  <h1>{{ this.title }}</h1>
  <div class="page-projectDescription">{{ this.description }}</div>
  <div class="page-projectTags">{{ render_tag_chips(this) }}</div>
  <dl class="page-projectStats">
    <div class="page-projectStats-stat">
      <dt>
        <img class="icon" src="{{ 'img/calendar.svg'|asseturl }}">
        Last Updated
      </dt>
      <dd>{{ this.date|dateformat }}</dd>
    </div>
    {% if this.repository %}
    <div class="page-projectStats-stat">
      <dt>
        <img class="icon" src="{{ 'img/source-repository.svg'|asseturl }}">
        Repository
      </dt>
      <dd><a href="{{ this.repository }}">{{ this.repository.host }}</a></dd>
    </div>
    {% endif %}
    {% if this.website %}
    <div class="page-projectStats-stat">
      <dt>
        <img class="icon" src="{{ 'img/web.svg'|asseturl }}">
        Website
      </dt>
      <dd><a href="{{ this.website }}">{{ this.website.host }}</a></dd>
    </div>
    {% endif %}
  </dl>
  <h2 class="page-projectSubheading">Description</h2>
  <div class="page-projectDetails">{{ this.details }}</div>
  {% set images = this.attachments.images.all() %}
  {% if images %}
    <h2>Images</h2>
    {% for image in images %}
      <div class="page-projectImage">
        <img src="{{ image.thumbnail(640)|url }}" alt="">
        {% if image.exif %}
        <p class=meta>
          {{ image.exif.camera }}
          {% if image.exif.created_at %}
            ({{ image.exif.created_at|dateformat }})
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
