{% extends "layout.html" %}
{% from "macros/projects.html" import render_tag_nav %}
{% block title %}Project Tags{% endblock %}
{% block body %}
<div class="page">
  <h1>Project Tags</h1>
  {{ render_tag_nav(active=none) }}
</div>
{% endblock %}
